/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"); */


/* css variables */

:root {
    --primary-color: #0f0d0c;
}


/*  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: var(--primary-color); */
}

html,
body {
    background-color: var(--primary-color);
    font-family: calibre, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    line-height: 1.2;
    margin: 10px 0;
}

h2 {
    /* font-weight: 300; */
    line-height: 1.2;
    margin: 10px 0;
}

h3,
h4 {
    font-weight: 300;
    line-height: 1.3;
    margin: 25px 0;
}

p {
    margin: 20px 0;
}

.desc {
    width: 600px;
    margin-top: 0;
}


/* top bar */

header {
    position: relative;
    height: 6rem;
    width: 100%;
}

.topbar {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    /* height: 200px; */
    padding: 10px 0;
    position: fixed;
    z-index: 40;
    width: 100%;
}

.topbar .flex {
    justify-content: space-between;
}

.topbar ul {
    display: flex;
}

.topbar nav a {
    color: #a2a2a2;
    margin: 0 10px;
    padding: 5px;
}

.topbar a:hover {
    color: #fff;
}

.introduction {
    padding: 1em 0;
    /* height: 400px; */
    background-color: var(--primary-color);
    color: #dddcdc;
    position: relative;
}

.name {
    font-size: 32px;
    font-weight: bold;
}

.rounded-shape {
    border-radius: 9999px;
}

.intro-text h1 {
    font-weight: bold;
    font-size: 60px;
}

.intro-text h2 {
    font-weight: bold;
    font-size: 40px;
    margin: -10px 0 20px 0;
}

.socials-row {
    height: 4em;
    width: 100%;
    margin-top: 2em;
    gap: 30px;
    font-size: 20px;
}

.socials-row li a {
    display: flex;
    padding: 10px 10px;
}

section .flex {
    justify-content: flex-start;
}

.socials-row li a:hover {
    color: teal;
    cursor: pointer;
    margin-bottom: 10px;
    transform: scale(1);
}

.btn-outline {
    display: inline-flex;
    margin-left: 10px;
    border-radius: 100px;
    text-align: center;
    background-color: #353535;
    border: 1px #363636 solid;
    color: #fff;
    padding: 0 24px;
    min-height: 45px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1rem;
}

.btn-outline:hover {
    background-color: #474747;
}

svg,
svg path,
a {
    transition: 0.2s;
}

.react-native {
    /* font-weight: bold;
    color: #61dafb; */
}

.subtitle {
    color: #c4bfbf;
    margin-bottom: 25px;
}

.toggle-break {
    display: none;
}


/* Experiences */

.list-item {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    /* border: 1px #242424 solid; */
    height: 300px;
    padding: 20px;
    margin: 1em 0;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
}

.list-item p {
    padding: 5px 0;
    margin: 0;
}

.row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 0.8;
    align-items: center;
}

.row1 .subtitle {
    font-size: small;
}

.list-item ul {
    margin-bottom: 10px;
}

.exp-desc-item {
    font-size: 0.9em;
    margin: 10px 0;
    position: relative;
    padding-left: 20px;
}

.exp-desc-item h3 {
    font-weight: 500;
    margin-bottom: -10px;
}

.exp-desc-item::before {
    content: "â¯";
    position: absolute;
    left: 0px;
    color: green;
}

.thankyou:hover {
    color: #a2a2a2;
}


/* utilities */

.container {
    max-width: 900px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 25px;
}

.container-body {
    max-width: 900px;
    margin: 1em auto;
    /* overflow: auto; */
    padding: 0 25px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.regular {
    font-weight: 500;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.white-font {
    color: #fff;
}

.margin-vert-10 {
    margin: 10px 0;
}

.margin-vert-20 {
    margin: 20px auto;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}


/* add img to Image */

.img {
    width: 100%;
    border-radius: 5px;
}


/* media queries */


/* tablets and under */

@media (max-width: 768px) {
    .topbar ul>*:first-child {
        display: none;
    }
    .introduction {
        /* padding: 1em 0; */
    }
    .exp-desc-item h3 {
        line-height: 1.3;
        font-weight: 500;
    }
    .list-item {
        height: 400px;
    }
    .intro-text h1 {
        font-weight: bold;
        font-size: 30px;
    }
}


/* mobile phones and under */

@media (max-width: 600px) {
    .logo {
        font-size: 0.9em;
    }
    .desc {
        width: 100%;
    }
    .toggle-break {
        display: block;
        margin-top: 20px;
    }
    .exp-desc-item {
        /* font-size: 1em; */
        margin: 10px 0;
        position: relative;
        padding-left: 20px;
    }
    .exp-desc-item h3 {
        line-height: 1.3;
        font-weight: 500;
    }
    .list-item {
        height: 425px;
    }
    .intro-text h1 {
        font-weight: bold;
        font-size: 35px;
    }
    .intro-text h2 {
        font-weight: bold;
        font-size: 25px;
    }
    .desc {
        font-weight: 300;
        font-size: 15px;
    }
    .intro-text div.flex {
        flex-direction: column-reverse;
    }
    .avatar {
        width: 80px;
        height: 80px;
    }
    .flex-start {
        display: flex;
        align-items: flex-start;
    }
}