html,
body {
    background-color: #0f0d0c;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #e7e5e4;
    padding: 0.5rem 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 40%;
    /* background-color: coral; */
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}