html,
body {
    background-color: #0f0d0c;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #e7e5e4;
    padding: 0.5rem 2rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto 0 auto;
    padding: 3rem 1.25rem 0 1.25rem;
    height: 200vh;
    max-width: 100ch;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro-text {
    width: 50%;
}

.light-text {
    font-weight: lighter;
    color: #a1a1a1;
    font-size: large;
}

.image-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}